/*
    Used colors

    Light purple:#d98cd9
    Medium purple:#993399
    Dark purple:#4d194d
*/

/*Normalizing so that page will be render same on every browser*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Specifying common styles on body tag so they will inherit */
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    rgba(217, 140, 217, 0.8),
    rgba(77, 25, 77, 0.8)),
    url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.log-box {
    position: absolute;
    top: 40px;
    left: 40px;
    backface-visibility: hidden;
}

.logo {
    height: 100px;
    border-radius: 50%;
}

.logo:hover {
    animation: RightToLeftFlip 1s linear;

}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background-color: red;*/
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 30px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 10px;
    animation: moveInLeft;
    animation-duration: 1s;
    /*animation-delay: 3s;*/
    /*animation-iteration-count: 3;*/
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 17px;
    word-spacing: 30px;
    animation: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        opacity: 0.5;
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        opacity: 0.5;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes RightToLeftFlip {
    0% {
        opacity: 0;
        transform: rotateY(-90deg);
    }
    50% {
        opacity: 0.5;
        transform: rotateY(90deg);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    color: #777777;
    border-radius: 100px;
    transition:all 0.2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.btn:active {
    transform: translateY(-1px);
}

.btn-white {
    background-color: white;
}